<div class="container">
    <div class="row">
        <div class="col-md-3 col-xs-12">
            <div class="thumbnail">
                <img src="images/placeholder-profile-photo.png">
                <div class="caption">
                    <h3>{{employee.name | fname}} {{employee.name | lname}}</h3>
                    <p>{{employee.job_titles}}</p>
                    <p><strong>Department:</strong> {{employee.department}}</p>
                    <p><strong>Salary:</strong> {{employee.employee_annual_salary}}</p>
                    <p><strong>Id:</strong> {{employee.id}}</p>
                    <p></p>
                </div>
            </div>
        </div>
    </div>
</div>