<div class="container">
    <div class="row">
        <div class="col-md-4 col-xs-12">
            <h3>Add New Employee</h3>
            <!-- new employee form -->
            <div class="alert alert-success" role="alert" ng-if="success">New employee added</div>
            <form name="employeeForm" novalidate ng-submit="save(employee)">
                <!-- employee first name input -->
                <div class="form-group" ng-class="{'has-error': employeeForm.fName.$invalid && !employeeForm.fName.$touched && submitted}">
                    <label class="control-label" for="fName">First Name</label>
                    <input type="text" class="form-control" name="fName" ng-model="employee.fName" required>
                    <p ng-show="employeeForm.fName.$invalid && !employeeForm.fName.$touched && submitted" class="help-block">Employee first name is required</p>
                </div>
                <!-- /end employee first name input -->
                
                <!-- employee last name input -->
                <div class="form-group" ng-class="{'has-error': employeeForm.lName.$invalid && !employeeForm.lName.$touched && submitted}">
                    <label class="control-label" for="lName">Last Name</label>
                    <input type="text" class="form-control" name="lName" ng-model="employee.lName" required>
                    <p ng-show="employeeForm.lName.$invalid && !employeeForm.lName.$touched && submitted" class="help-block">Employee last name is required</p>
                </div>
                <!-- /end employee last name input -->
                
                <!-- employee department input -->
                <div class="form-group">
                    <label class="control-label" for="department">Department</label>
                    <select ng-model="employee.department" class="form-control" required>
<!--                        <option value="" disabled>Select department...</option>-->
                        <option ng-repeat="department in departments" value="{{department}}">{{department}}</option>
                    </select>
                    <p ng-show="employeeForm.department.$invalid && !employeeForm.department.$touched && submitted" class="help-block">Employee department is required</p>
                </div>
                <!-- /end employee department input -->
                
                <!-- employee job title input -->
                <div class="form-group" ng-class="{'has-error': employeeForm.job_titles.$invalid && !employeeForm.job_titles.$touched && submitted}">
                    <label class="control-label" for="job_titles">Job Title</label>
                    <input type="text" class="form-control" name="job_titles" ng-model="employee.job_titles" required>
                    <p ng-show="employeeForm.job_titles.$invalid && !employeeForm.job_titles.$touched && submitted" class="help-block">Employee job title is required</p>
                </div>
                <!-- /end employee job title input -->
                
                <!-- employee salary input -->
                <div class="form-group" ng-class="{'has-error': employeeForm.salary.$invalid && !employeeForm.salary.$touched && submitted}">
                    <label class="control-label" for="salary">Annual Salary</label>
                    <div class="input-group">
                        <div class="input-group-addon">$</div>
                        <input type="text" class="form-control" name="salary" ng-model="employee.salary" placeholder="Amount (in dollars)" required>
                        <div class="input-group-addon">.00</div>
                    </div>
                    <p ng-show="employeeForm.salary.$invalid && !employeeForm.salary.$touched && submitted" class="help-block">Employee salary is required</p>
                </div>
                <!-- /end employee salary input -->
                
                <!-- employee id input -->
                <div class="form-group" ng-class="{'has-error': employeeForm.id.$invalid && !employeeForm.id.$touched && submitted}">
                    <label class="control-label" for="id">Employee ID</label>
                    <input type="number" class="form-control" name="id" ng-model="employee.id" required>
                    <p ng-show="employeeForm.id.$invalid && !employeeForm.id.$touched && submitted" class="help-block">Employee ID is required</p>
                </div>
                <!-- /end employee id input -->

                <button type="submit" class="btn btn-default">Save</button>
            </form>
            <!-- /end new employee form -->
        </div>
    </div>
</div>